.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base {
    height: 2.5rem;
    width: 40rem;
    background-color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}

.baseNotch {
    width: 6rem;
    height: 1rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    position: absolute;
    top: .2rem;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
}

.outerFrame {
    width: 30rem;
    aspect-ratio: 16/10;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .5rem .5rem 0 .5rem;
    background-color: black;
}

.innerFrame {
    height: 100%;
    border-top-left-radius: calc(1rem - .5rem);
    border-top-right-radius: calc(1rem - .5rem);
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.innerNotch {
    width: 5rem;
    height: .8rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
}

.content {
    margin: 0 20px;
    font-family: sans-serif;
    max-width: 15rem;


    & h3 {
        text-transform: uppercase;
    }

    &>* {
        text-align: center;
    }
}

.svg1 {
    position: absolute;
    bottom: -50%;
    left: -45%;
}

.svg2 {
    position: absolute;
    top: -50%;
    right: -45%;
}